
.hexagon {
  position: relative;
  width: 150px; 
  height: 86.60px;
  background:rgb(255, 255, 0);
  margin: 43.30px 500px ;
  margin-top: 300px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 43.30px solid rgb(255, 255, 0);
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid rgb(255, 255, 0);
} 

